.btn-submit {
    background-color: #344d67;
    color: #6eccaf;
    padding: 10px;
    border: none;
}

.btn-submit:hover {
    color: #344d67 !important;
    background-color: #6eccaf !important;
}

.sing-up-status {
    text-align: center;
    margin-top: 1rem;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.1rem;
}

.success {
    background-color: #affdb5;
}

.error {
    background-color: rgb(248, 127, 127);
}